 body {
    background-color: #F9FAFC;
    border: red 2px solid;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

/* Expenses */

.list { 
    list-style: none;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
} 

.item-buttons {
    display: flex;
    gap: 5px;
    margin-right: 15px;
}

.item-name { 
    display: block;
    padding-left: 15px;
}

.item-amount { 
    padding-left: 15px;
}

.total-expense-sum {
    padding-left: 10px;
}

