{% extends 'base.html' %}
{% load static %}

{% block title %}Penny Pinchers{% endblock %}


        {% block content %}
        <!-- Main Content on Expenses page Goes here -->
    <main>
         <div class="container">
            <div class="row mb-3">
                <h1 class="display-5 text-center mb-3">Your Expenses</h1>
                <div class="col d-flex justify-content-center">
                    <a href="{% url 'add' %}" class="btn btn-success">Add Expense</a>
                </div>
            </div>

            <ul class="list">
                {% for expense in expenses %}
                <!-- Item list -->
                 <li class="item">
                    <!-- Delete and Edit buttons -->
                     <div class="item-buttons">
                        <a href="{% url 'edit' edit_id=expense.id %}" class="btn btn-secondary">Edit</a>
                        <button class="btn btn-danger delete-expense mr-3" data-expense-id="{{ expense.id }}">Delete</button>
                     </div>
                     <div class="item-small">
                        <span class="item-name">{{ expense.item }}</span>
                        <span class="item-amount">{{ expense.amount }}</span>
                        <span class="item-currency">{{ expense.currency }}</span>
                     </div>
                 </li>
                {% endfor %}
                <!-- Total amount -->
                 <li class="item total-expenses">
                    <span class="total-expenses-title"> Your total expenses are:</span>
                    <span class="total-expense-sum">
                        {{ total_amount|default:"0" }}
                    </span>
                 </li>
            </ul>
            
         </div>
        <!-- Delete confirmation modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title"
                id="deleteModalLabel">Delete Expense?</h5>
            <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete your expense?
            This action cannot be undone.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            <form id="deleteForm" method="post">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            </div>
        </div>
        </div>
        </div>
    </main>
                {% endblock content %}

   
</body>

</html>